.DS_Store
a.out
minishell
minishell_both
minishell_rkitao
minishell_yyamasak
result_new.log
hello
argv
*.o
*.a
.vscode
minishell-tester/result.log
playground/
check_signal.sh
check_leaks.sh
# なぜかminishell-testerで生成されるファイル
0